# -------------------------
# Node / web app
# -------------------------
app_seattle911calls/node_modules/
npm-debug.log*
yarn-error.log*

# -------------------------
# Java / Scala / Maven
# -------------------------
**/target/
*.iml
.classpath
.project
.mvn/
.settings/

# -------------------------
# IDE metadata
# -------------------------
.idea/
**/.idea/
*.swp

# -------------------------
# OS stuff
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# CSV File
# -------------------------
batch_layer/Seattle_Real_Time_Fire_911_Calls_20251130.csv